
.imagem img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.img{
  width: 100%;
}

.cards:hover,
  .cards:focus,
 .cards:active {
  color: #0070f3;
  border-color: #0070f3;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.azul{
  color: grey;
}


.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}





h1,h2,h3{
  text-align: center;
}
h3{
  color: gray;
}
.ast{
  color: red;
}
.formulario{
    width: 400px;
    border:1px solid #ccc;
}

.field{
    width: 100%;
    margin: 10px 0;
}
.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.3em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=tel],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 35px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #9A9A9A;
    outline: none;
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 45px;
    resize: none;
}

input[type=submit]{
  font-family: 'Parisienne', cursive;
    display: block;
    background-color: #ccc;
    height: 40px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

input[value=Enviar]{
  font-size: 18pt;
}






.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-height: 60px;
  font-size: 22px;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: black;
  background: white;
  border: none;
  border-radius: 1000px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }


.button:hover, .button:focus {
  color: black;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #836FFF;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}